<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="https://x.com/YOUR_X_HANDLE" rel="nofollow noopener noreferrer"><i class="fab fa-x-twitter"
          aria-hidden="true"></i> X</a></li>
    <li><a href="https://www.instagram.com/lafieradeportiva" rel="nofollow noopener noreferrer"><i
          class="fab fa-fw fa-instagram" aria-hidden="true"></i> INSTAGRAM</a></li>
    <li><a href="https://www.youtube.com/YOUR_YOUTUBE_CHANNEL" rel="nofollow noopener noreferrer"><i
          class="fab fa-fw fa-youtube" aria-hidden="true"></i> YOUTUBE</a></li>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} La Fiera Deportiva. Created by Midway Web
  Design.</div>
